<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan | <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home/dashboard">Perpustakaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/home/dashboard">Home</a>
                <a class="nav-item nav-link active" href="/books">Buku</a>
                <a class="nav-item nav-link" href="/categories">Kategori</a>
                <a class="nav-item nav-link" href="/members">Anggota</a>
                <a class="nav-item nav-link" href="/transactions">Transaksi</a>
                <a class="nav-item nav-link" href="/reports">Laporan</a>
                <a class="nav-item nav-link" href="/home/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <%= title %>
            </div>
            <div class="card-body">
                <form action="/books/save" method="POST">
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="text" class="form-control" id="isbn" name="isbn">
                    </div>
                    <div class="form-group">
                        <label for="name">Judul</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="category">Kategori</label>
                        <select class="form-control" name="category_id" id="category_id">
                            <option value="1">Umum - Publikasi Umum</option>
                            <option value="2">Umum - Informasi Umum dan Komputer</option>
                            <option value="3">Umum - Bibiliografi</option>
                            <option value="4">Umum - Perpustakaan dan Informasi</option>
                            <option value="5">Umum - Ensiklopedia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Tahun</label>
                        <input type="number" class="form-control" id="year" name="year">
                    </div>
                    <div class="form-group">
                        <label for="author">Pengarang</label>
                        <input type="text" class="form-control" id="author" name="author">
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>

                    <button type="submit" class="btn btn-primary">Tambah</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>