<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan | <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home/dashboard">Perpustakaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/home/dashboard">Home</a>
                <a class="nav-item nav-link active" href="/books">Buku</a>
                <a class="nav-item nav-link" href="/categories">Kategori</a>
                <a class="nav-item nav-link" href="/members">Anggota</a>
                <a class="nav-item nav-link" href="/transactions">Transaksi</a>
                <a class="nav-item nav-link" href="/reports">Laporan</a>
                <a class="nav-item nav-link" href="/home/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2><%= title %></h2>
        <a class="btn btn-primary" href="/books/create" role="button">Tambah Buku</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Judul</th>
                <th>ID Kategori</th>
                <th>Tahun</th>
                <th>Pengarang</th>
                <th>Deskripsi</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td><%= book.id %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.name %></td>
                    <td><%= book.category_id %></td>
                    <td><%= book.year %></td>
                    <td><%= book.author %></td>
                    <td><%= book.description %></td>
                    <td>
                        <a href="/books/edit/<%= book.id %>" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/books/delete/<%= book.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
            </tbody>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>