<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan | <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home/dashboard">Perpustakaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/home/dashboard">Home</a>
                <a class="nav-item nav-link" href="/books">Buku</a>
                <a class="nav-item nav-link" href="/categories">Kategori</a>
                <a class="nav-item nav-link" href="/members">Anggota</a>
                <a class="nav-item nav-link active" href="/transactions">Transaksi</a>
                <a class="nav-item nav-link" href="/reports">Laporan</a>
                <a class="nav-item nav-link" href="/home/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <%= title %>
            </div>
            <div class="card-body">
                <form action="/transactions/borrow" method="POST">
                    <div class="form-group">
                        <label for="member_name">Nama Anggota</label>
                        <select class="form-control" name="member_name" id="member_name">
                            <option value="Adi Laksana">Adi Laksana</option>
                            <option value="Bagas Wongsono">Bagas Wongsono</option>
                            <option value="Nanu Nugraha">Nanu Nugraha</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Judul Buku</label>
                        <select class="form-control" name="book_name" id="book_name">
                            <option value="Belajar Pemrograman Node JS">Belajar Pemrograman Node JS</option>
                            <option value="Algoritma dan Pemrograman">Algoritma dan Pemrograman</option>
                            <option value="Komunikasi Data">Komunikasi Data</option>
                            <option value="Ensiklopedia Dunia">Ensiklopedia Dunia</option>
                        </select>
                    </div>
                    <input type="date" class="form-control" id="borrow_date" value="2020-08-12" name="borrow_date" hidden>

                    <button type="submit" class="btn btn-primary">Tambah</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>