<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan | <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home/dashboard">Perpustakaan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/home/dashboard">Home</a>
                <a class="nav-item nav-link" href="/books">Buku</a>
                <a class="nav-item nav-link" href="/categories">Kategori</a>
                <a class="nav-item nav-link" href="/members">Anggota</a>
                <a class="nav-item nav-link active" href="/transactions">Transaksi</a>
                <a class="nav-item nav-link" href="/reports">Laporan</a>
                <a class="nav-item nav-link" href="/home/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2><%= title %></h2>
        <a class="btn btn-primary" href="/transactions/borrow" role="button">Pinjam Buku</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>ID</th>
                <th>Nama Anggota</th>
                <th>Judul Buku</th>
                <th>Tanggal Pinjam</th>
                <th>Tanggal Kembali</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% transactions.forEach(function(transaction) { %>
                <tr>
                    <td><%= transaction.id %></td>
                    <td><%= transaction.member_name %></td>
                    <td><%= transaction.book_name %></td>
                    <td><%= transaction.borrow_date %></td>
                    <td><%= transaction.return_date %></td>
                    <td>
                        <a href="/transactions/return/<%= transaction.id %>" class="btn btn-sm btn-primary">Kembali</a>
                        <a href="/transactions/delete/<%= transaction.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
            </tbody>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>